<ul>
    <% @groups.each do |group| %>
        <li>
            <%= group.name %>
            |
            <%= link_to "Invite member", invite_member_path(group) %>
        </li>
    <% end %>
</ul>
