<ul>
    <% @invits.each do |group| %>
        <li>
            <%= group.name %>
            |
            <%= link_to "Accept", accept_invite_path(:group_id => group.id, :user_id => current_user.id) %>
            |
            <%= link_to "No Thanks", reject_invite_path(:group_id => group.id, :user_id => current_user.id) %>
        </li>
    <% end %>
</ul>
